nav{
    display: flex;
    justify-content: space-between;
}
.navList{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.navList a{
    color: #FFF;
}
.navList a:hover{
    color:#EBB959;
    cursor: pointer;
}
#navIcon{
display: none;

}
@media (min-width:320px) and (max-width:425px){
    nav{
        flex-direction: column;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 10rem;
        left: 2.9rem;
    }
    #navIcon{
        display: inline-block;
        position: relative;
        font-size: 2em;
    }
    #navIcon:hover{
        cursor: pointer;
    }
    .navList.active{
        background-color: rgba(57, 117, 47, 0.807);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 70%;
        width: 100%;
        position: relative;
        top:-12rem;

    }
    .navList{
        position: relative;
        top: -49rem;
    }
}
@media(min-width:450px) and (max-width:768px){
    nav{
        flex-direction: column;
        align-items: flex-end;
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 22rem;
        left: -23rem;
    }
    #navIcon{
        display: inline-block;
        position: relative;
        top: 8.5rem;
        left: -2rem;
        font-size: 2em;
    }
    .navIcon:hover{
        cursor: pointer;
    }
 
    .navList.active{
        background-color: rgba(57, 117, 47, 0.807);;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 23rem;
        width: 34%;
        padding-right: 1rem;
        position: relative;
        top:-28.9rem;
        left:-2rem;

    }
    .navList{
        position: relative;
        top: -99rem;
    }
}