*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 200vh;
    background: url(../media/gilles-lambert-mSK5nNsAsLY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:260vw 250vh;
    background-position:100% 0% ;
    color: white;
    z-index: 1;
}
#overlay{
    width: 100%;
    height:100%;
    background:linear-gradient(#13361891,#82B688);
}
#about_img{
    width: 18rem;
}
#about_header{
    color:#EBB959;
    font-size: 1.85em;
    margin-bottom:1rem;
    text-align: center;
}
#about_text{
    color:#FAFFF9;
    line-height: 2rem;
    text-align: justify;
}
#about_content{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}